.jumbotron {
    position: relative;
    background-color: #8A2BE2;
    background: url("wilsonnfrared.png") center center;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    overflow: hidden;
}


.jumbotron { min-height: 375px; }

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  font-family: "Palatino Linotype";
  color: #339966;
}


.service-h4 {
  font-size: 100px;
}

.carousel-inner{
  width:100%;
  max-height: 600px !important;
}

.widewrapper {
  width:100%;
  }

.widewrapper > img {
  width:100%;
}

.aboutus-p {
  font-size: 15px;
  font-family:verdana;
}


h1 {
  font-family: "Palatino Linotype";
  font-size: 60px !important;
  font-weight: bold;
  color: #222222;
}

#whatisir, #aboutus, #services, #contact{
  padding-top: 28px;
}
